page[size="A4"] {
  background: white;
  width: 21cm;
  height: 29.7cm;
  display: block;
   margin-left: 3cm;
  margin-bottom: 0.5cm;
  margin-top: 5.1cm;
 
}
.printalignright{
  text-align: right;
}
.watermark{
    opacity: 0.5;
    color: BLACK;
    position: absolute;
     font-size: 15px ;
   
  }
@media print {
  page[size="A4"] {
   margin-left: 3cm;
  margin-bottom: 0.5cm;
  margin-top: 5.1cm;
    
  }
  .printmargin1cm{
    margin-bottom: 1cm;
  }
  .watermark{
    opacity: 0.5;
    color: BLACK;
    position: absolute;
    font-size: 15px ;
  
  }
  .printmargin05cm{
    margin-bottom: 0.4cm;
  }
  .printmarginleft1cm{
    margin-left: 1cm;
  }
}
