.typeahead-wrapper {
        display: block;
        margin: 50px 0;
      }

      .tt-menu {
        background-color: #fff;
        border: 1px solid #000;
      }
     
      

      .tt-suggestion.tt-cursor {
        background-color: #ccc;
      }

.twitter-typeahead, .tt-hint, .tt-input, .tt-menu { 

width: 100%; 

}
.sucessbkg {
     background-color:#00a65a !important;
    color: #FFF !important;
}
